@charset "utf-8";
/* CSS Document */

body {
	background-color:#003366;
	color:#FFFF00;
	font-weight:bold;
	margin-top:0;
	width:100%;
}
.titulo{
	font-size:36px;
	text-align:center;	
}
.login{
	font-size:18px;
	text-align:left;
	margin-top:5px;
	margin-left:600px;	
}
.pie{
	width:800px;
	height:200px;
	margin-top:140px;
	margin-left:750px;
}
input{
	width:193px;
}
.boton{
	width:190px;
	margin-left:125px;
}
.persona1{
	position:relative;
	margin-top:5px;
	margin-left:400px;
	width:130px;
	height:200px;
}
.persona2{
	position:relative;
	margin-top:-1050px;
	margin-left:1000px;
	width:130px;
	height:200px;
}
a {
    color: #FFCC00;
    text-decoration: none;
	background: transparent;
}
#barra{
	background-color:#FFCC00;
	height:50px;
	padding:5px;
}
#barra ul li{
	display:inline;
	margin:80px;
	background-color:#000033;
	padding:5px 100px 5px 100px;
	box-shadow:0 0 10px #360;
	border-radius:1em;
}
h1{
	text-align:center;
}
