@charset "utf-8";
/* CSS Document */

body {
	background-color:#003366;
	color:#FFFF00;
	font-weight:bold;
	margin-top:0;
	width:100%;
}
.titulo{
	font-size:36px;
	text-align:center;	
}
.login{
	font-size:18px;
	text-align:left;
	margin-top:200px;
	margin-left:600px;	
}
.pie{
	width:800px;
	height:200px;
	margin-top:140px;
	margin-left:750px;
}
input{
	width:193px;
}
.boton{
	width:190px;
	margin-left:80px;
}
.persona1{
	position:relative;
	margin-top:-10px;
	margin-left:450px;
	width:130px;
	height:200px;
}
.persona2{
	position:relative;
	margin-top:-200px;
	margin-left:1040px;
	width:130px;
	height:200px;
}
a{
	color:#FFFF00;
	text-align:center;
	text-decoration:none;
	margin-left:60px;
}
a:link {
    color:yellow;
}

a:visited {
    color:cyan;
}

a:hover {
  	color:lightgreen;
}

a:active {
   	color:hotpink;
}