@charset "utf-8";
/* CSS Document */
body {
	background-color:#003366;
	color:#FFFF00;
	font-weight:bold;
	margin-top:0;
	width:100%;
}
a {
    color: #05807d;
    text-decoration: none;
	background: transparent;
}
#barra{
	background-color:#FF6600;
	height:50px;
	padding:5px;
}
#barra ul li{
	display:inline;
	margin:80px;
	background-color:#E4E4E4;
	padding:5px 10px 5px 10px;
	box-shadow:0 0 10px #360;
	border-radius:1em;
}
